<div class="container">
  <header class="header">
  <h1>Feeling that Inspo! Inspirational Quotes</h1>
  </header>
</div>
<div class="container">
  <div class="row">
    <blockquote cite="http://quotes.rest/qod.json">Remove the temptation to settle for anything short of what you deserve.
    </blockquote>
    <cite>Lorii Myers</cite>

  </div>
</div>
