/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize

 */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
 font-family: 'IBM Plex Sans', sans-serif;
 padding:0;
 margin:0;
}
header.header {
  background: #444;
  color: white;
  padding: .25em;


  h1 {
    color: #888;
  }
}

form {
  label {
    display: inline-block;
    width: 10%;
    padding-bottom: 1em;
    vertical-align: top;
  }
  input, textarea {
    width: 30%;
  }
  input[type=submit] {
    margin:1em 0 1em 10%;
    border-radius: 3px;
    padding: .2em;
    background: blue;
    color: white;
    width: 20%;
  }
}

.padded-container {
  padding:5%;
}
