<div class="container">
  <header class="header">
  <h1>Feeling that Inspo! Inspirational Cats</h1>
  </header>
</div>
<div class="padded-container">

<h1>Enter Your Cat Info</h1>

<%= simple_form_for @cat do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit 'Create' %>
<% end %>
</div>
